<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>{{products?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="products as product;">
    <img [src]="imageBaseUrl + '/w400' + products?.poster_path" />
 
    <ion-card-header>
      <ion-card-title> {{ products?.title }} </ion-card-title>
      <ion-card-subtitle> {{ [products].tagline }} </ion-card-subtitle>
      <ion-text color="tertiary">
        <span *ngFor="let g of products.genres;  let isLast = last"> {{ g.name }} {{ !isLast ? '·' : '' }}</span>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="medium">{{ products.overview }}</ion-label>
 
      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>{{ products.release_date | date: 'y'}}</ion-label>
      </ion-item>
 
      <ion-item lines="none">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label>{{ products.budget| currency: 'NGN' }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
 
<ion-footer>
  <ion-button expand="full" (click)="openHomepage(products.homepage)" *ngIf="products?.homepage">
    <ion-icon name="open-outline" slot="start"></ion-icon>
    Open Homepage
  </ion-button>
</ion-footer>